{
  "presets": [
    ["env", {
      "modules": false,
      "useBuiltIns": true,
      "targets": {
        "browsers": [
          "> 1%",
          "last 2 versions"
        ]
      }
    }],
    "react"
  ],
  "plugins": [
    "babel-plugin-styled-components",
    ["transform-imports", {
      "ramda": {
        "transform": "ramda/es/${member}",
        "preventFullImport": true
      }
    }],
    "transform-runtime",
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-object-rest-spread",
    "transform-export-extensions",
    ["module-resolver", {
      "root": ["./src"]
    }]
  ]
}